.choise {
    margin-top: 120px;
    font-family: $OpenSans;
    &__inner {
       
    }

    &__list {
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: $button;
        padding-bottom: 60px;
        ::after {
            content: '';
            display: block;
            width: 600px;
            height: 30px;
            border-bottom: 0.7px solid rgba(91, 100, 96, 0.5019607843);
        }
    }

    &__list-choise {
        
    }

    &__list-li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #E9ECE0;
        width: 600px;
        margin-bottom: 20px;
    }

    &__list-text{
        padding: 10px 0 10px 0;
        margin-left: 60px;
    }

    &__hidden-list{
        
    }
    
    &__hidden-list-li{
        display: flex;
        gap: 40px;
        align-items: center;   
        width: 600px;
        margin-bottom: 20px;

    }

    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #333333;
    }

    span{
        
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #333333;
    }
    // input[type="checkbox"]{
        
    // }
    // label{
    //     width: 38px;
    //     height: 38px;
    // }
}

.checkbox-input{
    margin-top: 5px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkbox-label{

}

// .list-checkbox{
//     position: absolute;
//     z-index: -1;
//     opacity: 0;
//     display: block;
//     width: 0;
//     height: 0;
// }
// .list-checkbox+label{
//     display: inline-flex;
//     align-items: center;
//     user-select: none;
//     ::before{
//         content: '';
//         background-color: $black-text;
//         display: inline-block;
//         width: 38px;
//         height: 38px;
//         flex-shrink: 0;
//         flex-grow: 0;
//         border: 1px solid #adb5bd;
//         border-radius: 0.25em;
//         margin-right: 0.5em;
//         background-repeat: no-repeat;
//         background-position: center center;
//         background-size: 50% 50%;
//     }
// }
.btn-show-content {
}
