.choise {
    margin-top: 120px;
    font-family: $OpenSans;
    &__inner {
       
    }

    &__list {
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        color: $button;
        padding-bottom: 60px;
        ::after {
            content: '';
            display: block;
            width: 600px;
            height: 30px;
            border-bottom: 0.7px solid rgba(91, 100, 96, 0.5019607843);
        }
    }

    &__list-choise {
        
    }

    &__list-li {
        display: flex;
        position: relative;
        align-items: center;
        background-color: #E9ECE0;
        width: 600px;
        height: 70px;
        margin-bottom: 20px;
    }
    &__checkbox{
        cursor: pointer;
        position: relative;
        margin-left: 25px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: $white-text;
        &::before{
            content: '';
            position: absolute;
            top: 48%;
            left: 28%;
            width: 16px;
            border: 1px solid #333333;
        }
        &::after{
            content: '';
            position: absolute;
            top: 48%;
            left: 28%;
            transform: rotate(90deg);
            width: 16px;
            border: 1px solid #333333;
        }
        &_option{
            cursor: pointer;
            position: relative;
            border: 1px solid #333333;
            margin-left: 25px;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: $white-text;
            &::before{
                content: '';
                position: absolute;
                top: 48%;
                left: 28%;
                width: 16px;
                border: 1px solid #333333;
            }
            &::after{
                content: '';
                position: absolute;
                top: 48%;
                left: 28%;
                transform: rotate(90deg);
                width: 16px;
                border: 1px solid #333333;
            }
        }

        
    }
    &__list-text{
        padding: 16px 0 10px 0;
        margin-left: 20px;
    }

    &__hidden-list{
        display: none;
        padding-bottom: 20px;
    }
    
    &__hidden-list-li{
        display: flex;
        gap: 40px;
        align-items: center;   
        width: 600px;
        margin-bottom: 20px;
        padding: 15px 0 15px 0;
    }
    &__btn-show-content{
        position: absolute;
        right: 25px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color:#E9ECE0;
        transition: all 0.3s ease-in;
            
    }
    p{
        font-weight: 600;
        font-size: 18px;
        line-height: 6px;
        color: #333333;
    }

    span{
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #333333;
    }

}

.btn-rotate{
    display: block;
    padding-top: 10px;
    img{
        
    }
}

.active-choise{
    background-color: #5B6460;
    &::before{
        content: '';
        position: absolute;
        top: 58%;
        left: 24%;
        width: 10px;
        transform: rotate(38deg);
        border: 1px solid #ffffff;
    }
    &::after{
        content: '';
        position: absolute;
        top: 51%;
        left: 40%;
        transform: rotate(126deg);
        width: 16px;
        border: 1px solid #ffffff;
    }
}