.footer {
    height: 480px;
    background-color: $button;
    font-family: $OpenSans;
    &__inner {
        padding-top: 100px;
        display: flex;
        justify-content: space-around;
        color: $white-text;
    }

    &__mail-block {
    }

    &__mail-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        padding-bottom: 30px;
    }

    &__mail-form {
        margin-top: 40px;
        ::placeholder{
            font-weight: 300;
            font-style: italic;
            font-size: 16px;
            color: $white-text;
        }
        &::after{
            content: '';
            display: block;
            border: 0.1px solid #EFEFEF;
            width: 400px;
        }
    }
    &__mail-form-input{
        background-color: $button;
        color: $white-text;
        font-weight: 300;
        font-style: italic;
        font-size: 16px;
        padding-bottom: 6px;
        width: 360px;
    }
    &__mail-link{

    }
    &__mail-text {
        padding-top: 14px;
        font-weight: 300;
        font-size: 16px;
        line-height: 30px;
        width: 420px;
        
    }

    &__mail-copy {
        padding-top: 100px;
        font-size: 14px;
        font-weight: 300;
        color: #efefef;
    }

    &__link-block {
    }

    &__link-items {
        margin-top: 8px;
    }

    &__link-list {
        display: flex;
        gap: 25px;
        
    }

    &__link-item {
        a{
            color: $white-text;
            position: relative;
            transition: all 0.3s ease-in;
        &::after{
            position: absolute;
            bottom: 0;
            content: '';
            width: 0%;
        }
        &:hover{    
            &::after{
                content: '';
                display: block;
                height: 1px;
                width: 100%;
                background-color: $white-text;
                transition: all 0.4s ease-in;
                
                }
            }
        }
    }

    &__link-payment {
    }

    &__payment-items {
    }

    &__payment-list {
        margin-top: 80px;
        display: flex;
        justify-content: flex-end;
        gap: 30px;
    }

    &__payment-item {
    }
    
}


//ABOUT FOOTER